*
.
*/
*+
..
*~
*.o
~$*
var
*.d
._*
bin
*.so
x86/
_i.c
*.mo
.tmp
app/
bld/
dist
eggs
/git
*.db
obj/
out/
JSON
.vs/
x64/
$tf/
.tox
lib/
*.md
csx/
env*
var/
.env
.git
_obj
env/
core
/tmp
*.rej
/site
*.out
.venv
/bin/
*.log
.tox/
*.egg
*.rsp
*.cer
*.tmp
.idea
*.sln
*.pyc
*.sdf
*.tli
*.lnk
*.res
*.lib
*.pot
*.idb
*.deb
*.dsc
/tags
*.exe
*.cab
*.tgz
*.pyo
*.sbr
eggs/
.nox/
*_i.c
*.opt
*.vsp
parts
sdist
*.dll
*.ilk
*.aps
*.suo
ipch/
_test
*_i.h
*_p.c
dist/
*.bak
*.pgd
*.obj
*.ncb
build
*.tlh
/cmd/
*.iws
*.mdf
logs/
*.iml
*.scc
*.pgc
Icon?
*.pdb
*.eml
*.tlb
*.plg
*.pfx
*.ldf
*.pch
venv/
*.swp
env/*
parts/
*.lock
*.pidb
*.user
build/
Debug/
*.gcno
*.gcda
*.gcov
*.ipdb
*.iobj
[Bb]in
#*.pdb
.idea/
*.meta
sdist/
.cache
cache/
venv/*
.Trash
*.orig
.*.swp
*.mm.*
.pyre/
lib64/
/_site
bin64/
*.vspx
.eggs/
/pkg//
.nfs.*
_cgo_*
/git-mv
/git-gc
/git-p4
/git-am
*.[aos]
/libgit
/git-rm
.vscode
wheels/
[Bb]in/
/vendor
*.dbmdl
*.VC.db
.scrapy
target/
.github
*,cover
.apdisk
.cache/
assets/
my-app*
*.cover
*.nupkg
.Python
*.cache
.builds
[Oo]bj/
*.psess
*.tar.gz
/git-log
publish/
.depend/
/git-svn
/git-tag
/git-var
/git-add
*.svclog
Backup*/
#[Bb]in/
env.bak/
JSON.map
*.pubxml
*.py[co]
*.vssscc
/vendor/
*.vspscc
MANIFEST
*.opendb
/.bundle
htmlcov/
Release/
/cscope*
*.vcproj
.idea/**
.Trashes
.vscode/
.AppleDB
*.cgo*.c
/git-init
/git-pull
/git-help
/git-show
/git.spec
/git-diff
/git-grep
/git-fsck
*.opensdf
*.py[cod]
*.gpState
!.gitkeep
venv.bak/
*.sage.py
.JustCode
[Dd]ebug/
*.cgo*.go
.coverage
Thumbs.db
instance/
/git-push
.DS_Store
/src/*.*/
/test.out
dlldata.c
.flaskenv
db.sqlite3
/test-date
*.rdl.data
/build.out
xcuserdata
/git-shell
*.egg-info
/git-stash
/git-stage
/test-sha1
/git.VC.db
/.vagrant/
/configure
/cover_db/
*.manifest
.DS_Store?
/xdiff_lib
dmypy.json
.fseventsd
[Dd]ebug*/
/git-reset
*.DS_Store
*$py.class
/git-merge
_Chutzpah*
_TeamCity*
*.tmp_proj
/git-fetch
artifacts/
/git-clean
/git-clone
downloads/
_NCrunch_*
ClientBin/
/git-notes
/git-prune
*.dotCover
/git-blame
/git-mktag
/git-apply
/config.mak
/git-rebase
/GIT-CFLAGS
/git-mktree
/git-remote
/config.log
/test-delta
/test-ctype
/git-branch
/test-regex
/git-revert
/GIT-PREFIX
/git-bisect
/git-status
/git-config
/git-commit
/git-daemon
/git-repack
/git-rerere
/git-bundle
/git-column
/git-cherry
!.gitignore
pip-log.txt
*.stackdump
*.egg-info/
desktop.ini
/git-reflog
*.VC.opendb
*.a[56789o]
ehthumbs.db
/.changelog
*.userprefs
[Dd]ebugPS/
order_*.pdf
*.[56789ao]
[Ee]xpress/
.LSOverride
i18n/*.json
*.[Cc]achee
staticfiles
.spyproject
*.cachefile
.sass-cache
.coverage.*
.dmypy.json
[Rr]elease/
AppPackages/
.nyc_output/
!*.[Cc]ache/
develop-eggs
_ReSharper*/
/git-archive
folder-*.ico
[Rr]eleases/
[Rr]elease*/
ftp/legal.md
[56789a].out
/.sass-cache
/test-mktemp
_mailinglist
_testmain.go
*.bim.layout
/test-config
.ropeproject
coverage.xml
__pycache__/
Gemfile.lock
.hypothesis/
docs/_build/
/GIT-LDFLAGS
/test-svn-fe
/git-sh-i18n
/vcs-svn_lib
node_modules
report*.html
.mypy_cache/
/git-replace
/git-init-db
/git-ls-tree
.AppleDouble
/last-change
.sass-cache/
config/*.yml
/git-sh-setup
develop-eggs/
/git-shortlog
/git-ls-files
[Rr]eleasePS/
**/packages/*
/git-instaweb
*.azurePubxml
/git-mailinfo
nosetests.xml
/git-worktree
*.publishproj
/git-rev-list
/test-chmtime
/git-show-ref
AutoTest.Net/
/git-name-rev
/test-hashmap
/git-patch-id
/git-describe
/git-difftool
.ruby-version
/GIT-MSVC-GEN
/git-annotate
/git-checkout
/git-cat-file
/config.cache
$RECYCLE.BIN/
composer.phar
/test/run.out
.AppleDesktop
node_modules/
*.build.csdef
npm-debug.log
/git-core-*/?*
/git-cvsserver
/git-diff-tree
/git-rev-parse
/git-mailsplit
/git-read-tree
/git-cvsimport
/bin-wrappers/
/git-send-pack
/git-remote-fd
/git-imap-send
/git-http-push
/goinstall.log
/git-ls-remote
/git-pack-refs
/git-mergetool
/git-submodule
.spyderproject
*.userosscache
.pytest_cache/
.installed.cfg
.brackets.json
/config.status
[Dd]esktop.ini
/common-cmds.h
/test/pass.out
/VERSION.cache
/test-sigchain
/test-fake-ssh
!/env/.gitkeep
/autom4te.cache
/GIT-USER-AGENT
*.sln.docstates
!config/ctf.yml
/git-credential
.TemporaryItems
/git-check-attr
/cover_db_html/
!config/7ms.yml
Temporary Items
UpgradeLog*.XML
.python-version
.Spotlight-V100
!/venv/.gitkeep
/test/times.out
[Dd]ebugPublic/
/git-diff-index
UpgradeLog*.htm
TestResult*.xml
lerna-debug.log
/git-diff-files
/git-archimport
/git-rebase--am
/git-write-tree
Generated_Code/
/git-merge-base
/git-remote-ext
/git-stripspace
/test-mergesort
/git-update-ref
/git-verify-tag
/git-merge-ours
/test-genrandom
/git-merge-file
/git-merge-tree
/git-remote-ftp
/git-send-email
/test-wildmatch
/git-fetch-pack
/git-show-index
/git-index-pack
/git-http-fetch
!config/test.yml
*.bim_*.settings
!config/addo.yml
_Pvt_Extensions/
/git-remote-ftps
*.[Pp]ublish.xml
.webassets-cache
/git-fast-import
scintilla/.hgeol
[Bb]uild[Ll]og.*
/git-hash-object
[Ss]tyle[Cc]op.*
profile_default/
/git-merge-index
/git-fast-export
.jekyll-metadata
.VolumeIcon.icns
juiceshop.sqlite
/git-unpack-file
/test-prio-queue
/test-read-cache
/git-quiltimport
/git-remote-http
/test-path-utils
/test-sha1-array
/GIT-PYTHON-VARS
/test-subprocess
/git-upload-pack
/git-cherry-pick
/git-verify-pack
/git-web--browse
/git-commit-tree
/git-whatchanged
/git-show-branch
FakesAssemblies/
/UpgradeLog*.htm
project.lock.json
/git-http-backend
ModelManifest.xml
*.publishsettings
local_settings.py
/git-update-index
/test-line-buffer
/git.VC.VC.opendb
/git-receive-pack
/git-symbolic-ref
*.VisualState.xml
ipython_config.py
/test-match-trees
*.[Rr]e[Ss]harper
/git-check-ignore
!config/fbctf.yml
vagrant/.vagrant/
/GIT-VERSION-FILE
ehthumbs_vista.db
!config/quiet.yml
/git-prune-packed
/git-parse-remote
/git-request-pull
/git-remote-https
/git-pack-objects
!frontend/src/app
.mr.developer.cfg
/git-fsck-objects
scintilla/.hgtags
getting-started/*
*.specpip-log.txt
/test-run-command
/GIT-PERL-DEFINES
/test-string-list
package-lock.json
/git-for-each-ref
/git-format-patch
/git-rebase--merge
/gitweb/gitweb.cgi
/git-merge-subtree
orleans.codegen.cs
.tmp.drivedownload
PowerEditor/bin64/
/git-count-objects
*.DotSettings.user
/GIT-BUILD-OPTIONS
/git-verify-commit
/config.mak.append
/src/cmd/dist/dist
/git-check-mailmap
[Tt]est[Rr]esult*/
/git-fmt-merge-msg
/git-filter-branch
/git-merge-octopus
/git-merge-resolve
/git-remote-testpy
.ipynb_checkpoints
.ntvs_analysis.dat
!config/unsafe.yml
/git-upload-archive
/git-remote-testgit
/test-index-version
/git-unpack-objects
/git-remote-testsvn
/config.mak.autogen
/test-parse-options
pip-wheel-metadata/
/git-bisect--helper
/git-checkout-index
GeneratedArtifacts/
*.dbproj.schemaview
celerybeat-schedule
!config/default.yml
!**/packages/build/
!config/mozilla.yml
/test/garbage/*.out
!config/bodgeit.yml
/git-mergetool--lib
/git-merge-one-file
/git-pack-redundant
/GIT-SCRIPT-DEFINES
/git-rebase--helper
scintilla/.hgignore
.*crunch*.local.xml
/src/go/doc/headscan
share/python-wheels/
Network Trash Folder
DocProject/Help/html
/git-merge-recursive
!config/juicebox.yml
/git-cvsexportcommit
/src/go/build/zcgo.go
!frontend/src/assets/
DocProject/Help/*.hhp
DocProject/Help/*.HxT
DocProject/Help/*.hhc
Thumbs.db:encryptable
test/e2e/screenshots/
DocProject/Help/Html2
DocProject/buildhelp/
scintilla/win32/*.lib
/misc/cgo/testso/main
DocProject/Help/*.HxC
/git-check-ref-format
/git-difftool--helper
/git-credential-store
/git-credential-cache
_UpgradeReport_Files/
/git-add--interactive
DocProject/Help/*.hhk
/test-dump-cache-tree
/test-submodule-config
/test-revision-walking
/test-scrap-cache-tree
/test-dump-split-index
uploads/complaints/*.*
/git-submodule--helper
/git-get-tar-commit-id
/git-sh-i18n--envsubst
/misc/cgo/life/run.out
/misc/cgo/stdio/run.out
/d2[0-9][0-9][0-9]*-*-*
PowerEditor/bin/backup/
.DocumentRevisions-V100
/src/unicode/maketables
/git-interpret-trailers
/git-update-server-info
!data/static/i18n/*.json
scintilla/win32/Lexers.a
scintilla/boostregex/bin
/git-rebase--interactive
PowerEditor/bin/plugins/
PowerEditor/bin/updater/
scintilla/bin/SciLexer.*
/doc/articles/wiki/*.bin
/gitweb/static/gitweb.js
assets/vendor/qtip2/basic
scintilla/bin/__init__.py
PowerEditor/bin/langs.xml
scintilla/bin/Scintilla.*
scintilla/.hg_archival.txt
/src/cmd/cgo/zdefaultcc.go
PowerEditor/bin/config.xml
/test-dump-untracked-cache
/gitweb/static/gitweb.min.*
scintilla/cppcheck.suppress
assets/vendor/clipboard/src
PowerEditor/bin/stylers.xml
PowerEditor/bin/session.xml
/coverage-untested-functions
PowerEditor/bin/SciLexer.dll
/test-urlmatch-normalization
assets/vendor/clipboard/test
scintilla/win32/ScintRes.res
PowerEditor/installer/build/
!uploads/complaints/.gitkeep
/gitweb/GITWEB-BUILD-OPTIONS
/vagrant2[0-9][0-9][0-9]*-*-*
PowerEditor/bin/notepad++.exe
PowerEditor/bin/localization/
PowerEditor/bin/shortcuts.xml
/git-credential-cache--daemon
pip-delete-this-directory.txt
/PowerEditor/gcc/resources.res
PowerEditor/bin/nativeLang.xml
/PowerEditor/bin/NotepadPP.exe
PowerEditor/bin/NppShell_06.dll
PowerEditor/bin/langs.model.xml
PowerEditor/bin/contextMenu.xml
assets/vendor/selectivizr/tests
!**/packages/repositories.config
/PowerEditor/bin/libstdc++-6.dll
PowerEditor/bin/config.model.xml
PowerEditor/bin/functionList.xml
!frontend/src/assets/i18n/*.json
PowerEditor/installer/minimalist/
PowerEditor/bin/NppShell64_06.dll
PowerEditor/installer/bin/wingup/
PowerEditor/bin/stylers.model.xml
scintilla/boostregex/boostpath.mak
PowerEditor/installer/minimalist64/
/src/cmd/go/internal/cfg/zosarch.go
.com.apple.timemachine.donotpresent
/PowerEditor/bin/libwinpthread-1.dll
/PowerEditor/bin/libgcc_s_sjlj-1.dll
PowerEditor/bin/SourceCodePro-It.ttf
/src/runtime/internal/sys/zversion.go
template/src/__tests__/__snapshots__/
PowerEditor/visual.net/Unicode Debug/
PowerEditor/bin/SourceCodePro-Bold.ttf
PowerEditor/visual.net/notepadPlus.sln
/src/cmd/internal/objabi/zbootstrap.go
/src/cmd/go/internal/cfg/zdefaultcc.go
PowerEditor/visual.net/Unicode Release/
PowerEditor/bin/SourceCodePro-BoldIt.ttf
PowerEditor/visual.net/x64/Unicode Debug/
PowerEditor/bin/SourceCodePro-Regular.ttf
PowerEditor/visual.net/x64/Unicode Release/
PowerEditor/installer/zipped.package.release/
PowerEditor/installer/zipped.package.release64/
